
*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    outline: none;
    font-family: Quicksand sans-serif;
}

body {background-color:black;font-family:arial;color:white;
    position: relative;
}
h1{color:grey;font-family:verdana;
    text-align: center;
}

.maindiv {
    background-color: white;
    color: black;
    width: 50%;
    /* height: 50vh; */
    padding: 2%;
    border-radius: 25px;
    align-content: center;
    /* margin-top: 5px; */

    
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
table {
    
   width: auto;
}
.cont {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}